<h1>Create a new teaching offering</h1>

<!-- Subject:
Hangout? (Y/N)
In person? 
(If yes, show location)
Location:
More details: (Your background in this subject, etc.) -->

<%= form_for @offering, url: {action: "create"} do |f| %>
  
  <%= f.label :category %>
  <%= f.select :category, @category_names %>

  <%= f.label :subject %>
  <%= f.text_field :subject %>

  <%= f.label :hangout %>
  <%= f.check_box :hangout %>

  <%= f.label :in_person %>
  <%= f.check_box :in_person %>


  <!-- for v 1.1 will add AJAX so this field
  only appears if in-person box is checked -->
  <%= f.label :location %> 
  <%= f.text_field :location %>

  <%= f.label :details %>
  <%= f.text_area :details %>

  <br>

  <%= f.submit "Create" %>
<% end %>


<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 100% }
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDJiZSGVwbf2e0g9nsZx_smBCk27y7sHNs&sensor=true"></script>

//     <script src="/map.js"></script> 
//     <script>

//     google.maps.visualRefresh = true;

//     var map;
//     function initialize() {
//       getCoordinates('1045 Mission street san francisco', function(coords) {
//       var mapOptions = {
//         zoom: 8,
//         center: new google.maps.LatLng(coords[0], coords[1]),
//         mapTypeId: google.maps.MapTypeId.ROADMAP
//       };

//       map = new google.map.Map(document.getElementById('map-canvas'), 
//         mapOptions);  
//   })

// }

// google.maps.event.addDomListener(window, 'load', initialize);

    // <script type="text/javascript">  
    //   function initialize() {  
    //     var mapOptions = {  
    //       center: new google.maps.LatLng(-34.397, 150.644),
    //       zoom: 8
    //     };
    //     var map = new google.maps.Map(document.getElementById("map-canvas"),
    //         mapOptions);
    //   }
      // google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
  <body>
    <div id="map-canvas" style="height:300px"></div>
  </body>
</html>





















