<h1> Learn <%= @offering.subject.name %> from <%= @offering.teacher.first_name %> </h1>

<% if @offering.hangout %>
  <h4>Available via Google hangouts</h4>
<% end %>

<% if @offering.location != '' %>
  <h4>Available in person at: <%= @offering.location %></h4>
<% end %>

<h3>Description of my <%= @offering.subject.name %> expertise...</h3>
<div><%= @offering.details %></div>

<!-- <h3>Rankings would go here</h3>
<h3>Show up rate would go here</h3>
<h3>Reviews would go here</h3> -->

<br>
<button>Learn <%= @offering.subject.name %> from <%= @offering.teacher.first_name %></button>


<h1></h1>
