<h1 class="learn_from"> Learn <%= @offering.subject.name %> from <%= @offering.teacher.first_name %> <img class="img-circle"<%= gravatar_for @offering.teacher %></h1>

<div class="meetup_place">
  <% if @offering.hangout %>
    <h4> <i class="icon-facetime-video"></i>  Available via Google hangouts</h4>
  <% end %>

  <% if @offering.location != '' %>
    <h4><i class="icon-map-marker"></i>  Available in person at: <%= @offering.location %></h4>
  <% end %>

  <div class="expertise_description">
    <h3> Expertise description of <%= @offering.subject.name %></h3>
    <div class="expertise_details"><%= @offering.details %></div>
  </div>
<div>

<!-- <h3>Rankings would go here</h3>
<h3>Show up rate would go here</h3>
<h3>Reviews would go here</h3> -->

<br>
<!-- <button>Learn <%= @offering.subject.name %> from <%= @offering.teacher.first_name %></button> -->

<div><%#= link_to "Learn #{@offering.subject.name} from #{@offering.teacher.first_name}", meetups_path %></div>



<% if @offering.teacher_id == session[:user_id] %>

  <div class="edit_button"><%= link_to "Edit Offering", edit_offering_path %></div><br>
  
<% else %>

  <%= "Learn #{@offering.subject.name} from #{@offering.teacher.first_name}" %>

	<% if @offering.hangout %>
    <%= button_to "Via Google Hangouts", controller: 'meetups', action: "create", :"data-offering_id" => @offering.id, :"data-method" => 'hangout' %>
  <% end %>

  <% if @offering.location != '' %>
    <%= button_to "In Person", controller: 'meetups', action: "create", :"data-offering_id" => @offering.id, :"data-method" => 'in-person' %>
  <% end %>

<% end %>


<h1></h1>
