<h1> Learn <%= @offering.subject.name %> from <%= @offering.teacher.first_name %> </h1>

<h3>Hangout at <%= @offering.location %></h3>

<h3>Description of my <%= @offering.subject.name %> expertise...</h3>
<%= text_area_tag 'body', nil, rows: 5, cols: 30 %>

<h3>Rankings would go here</h3>
<h3>Show up rate would go here</h3>
<h3>Reviews would go here</h3>


<h1></h1>
