<h1> Learn <%= @offering.subject.name %> from <%= @offering.teacher.first_name %> </h1>

<h3>Hangout at <%= @offering.location %></h3>

<h3>Description of my <%= @offering.subject.name %> expertise...</h3>
<h4><%= @offering.details %></h4>

<h3>Rankings would go here</h3>
<h3>Show up rate would go here</h3>
<h3>Reviews would go here</h3>

<% if @offering.teacher_id == session[:user_id] %>
<div class="edit_button"><%= link_to "Edit Offering", edit_offering_path %></div><br>
<% end %>


<h1></h1>
