<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Congratulations <%= @teacher.first_name %>! </h2>
    <h3><p>You're meeting up with <%= link_to @learner.first_name, @learner_profile_link %> to talk about <%= @meetup.offering.subject.name%> at <%= @meetup.date_time %>.</p></h3>
     
     <h3><p>To see your meetup details, click this link: <%= @meetup_confirmation_link %></p></h3>

     <%= image_tag attachments.inline['braintrade_logo.png'].url, :size => "250x250"%>
  </body>
</html>
