<h1><%= User.find(Offering.find(@meetup.offering_id).teacher_id).first_name %> you have offered to teach <%= Subject.find(Offering.find(@meetup.offering_id)).name %> to <%= User.find(@meetup.learner_id).first_name %></h1>

<%= form_for @meetup, url: {action: "update"} do |f| %>
<h3>Please pick 3 times to teach</h3>
<%= f.label :option_one %>
<%= f.datetime_select(:time1) %><br/><br/>
<%= f.label :option_two %>
<%= f.datetime_select(:time2, {:class => 'date-select'}) %><br/><br/>
<%= f.label :option_three %>
<%= f.datetime_select(:time3) %><br/><br/>
<%= f.submit "Accept Teaching" %>
<% end %>
<button><a href="/users/<%= User.find(Offering.find(@meetup.offering_id).teacher_id).id %>">Reject Teaching</a></button><br/><br/>
