<% if current_user.id == @meetup.offering.teacher.id %>

	<% if @meetup.cancelled %>
		<h3>This meetup has been cancelled.</h3>
	<% else %>
		<% if @meetup.accepted != true %>
			<h1> <%= @meetup.offering.teacher.first_name %>, <%= @meetup.learner.first_name %> is looking for times for you to teach <%= @meetup.offering.subject.name %>.</h1>
		<% end %>

		<% if @meetup.accepted == true && @meetup.date_time == nil%>
			<h3>Thanks!  Your availability has been submitted.</h3>
			<h3>Please be patient while <%= @meetup.learner.first_name %> chooses a time.</h3>
		<% end %>

		<% if @meetup.accepted == true && @meetup.date_time != nil%>
			<h3><%= @meetup.offering.teacher.first_name %>, your time has been accepted!</h3>
			<h3>Your learning session with <%= @meetup.learner.first_name %> will take place at <%= @meetup.date_time.strftime('%A, %B %d at %I:%M %p') %>.</h3>

			<% if @meetup.method == 'hangout' %>
				<h3>Your learning session will take place via video chat.</h3>
				<h4>Your channel name: <%= @meetup.offering.teacher.first_name + @meetup.learner.first_name + @meetup.id.to_s %>.</h4>
				<!-- Begin Fresh Tilled Soil Video Chat Embed Code -->
				<div id="freshtilledsoil_embed_widget" class="video-chat-widget"></div>
				<script id="fts" src="http://freshtilledsoil.com/embed/webrtc-v5.js?r=FTS1105-lEGfCfal"></script>
				<!-- End Fresh Tilled Soil Video Chat Embed Code -->
			<% end %>

			<% if @meetup.method == 'in-person' %>
				<h3>Your learning session will take place in person at <%= @meetup.offering.location %>.</h3>
				<%= render "shared/maps"%>
			<% end %>

		<% end %>
	<% end %>

<% end %>



<% if current_user.id == @meetup.learner.id %>        

	<% if @meetup.cancelled %>
		<h3>This meetup has been cancelled.</h3>
	<% else %>

		<% if @meetup.accepted != true %>
			<h3> You have requested to learn <%= @meetup.offering.subject.name %> from <%= @meetup.offering.teacher.first_name %>.</h3>
			<h3>Please be patient while <%= @meetup.offering.teacher.first_name %> selects some times for you to choose from.</h3>
		<% end %>

		<% if @meetup.accepted == true && @meetup.date_time == nil%>
		<% end %>

		<% if @meetup.accepted == true && @meetup.date_time != nil%>
			<h3>Meetup confirmed!</h3>
				<h3>Your learning session with <%= @meetup.offering.teacher.first_name %> will take place at <%= @meetup.date_time.strftime('%A, %B %d at %I:%M %p') %>.</h3>

			<% if @meetup.method == 'hangout' %>
				<h3>Your learning session will take place via video chat.</h3>
				<h4>Your channel name: <%= @meetup.offering.teacher.first_name + @meetup.learner.first_name + @meetup.id.to_s %>.</h4>
				<!-- Begin Fresh Tilled Soil Video Chat Embed Code -->
				<div id="freshtilledsoil_embed_widget" class="video-chat-widget"></div>
				<script id="fts" src="http://freshtilledsoil.com/embed/webrtc-v5.js?r=FTS1105-lEGfCfal" type="text/javascript" data-turbolinks-eval="true"></script>
				<!-- End Fresh Tilled Soil Video Chat Embed Code -->
				<% end %>

			<% if @meetup.method == 'in-person' %>
				<h3>Your learning session will take place in person at <%= @meetup.offering.location %>.</h3>
				<%= render "shared/maps"%>
			<% end %>

		<% end %>

	<% end %>

<% end %>



<h3>If you would like to cancel the meetup, please click the button below.</h3>
<%= form_for @meetup, url: {action: "update"} do |f| %>
<%= f.hidden_field :cancelled, value: true %>
<%= f.hidden_field :step, value: 3 %>
<%= f.submit "Cancel Meetup", :confirm => "Are you sure you want to cancel this meetup?"%>
<% end %>

