<div class="container">
  <h2> Hi <%= @user.first_name %>! Welcome to your account information page. </h2>

  <h3 id="profile_info">Your profile information </h3>
  <label id="profile_info"> First name </label><%= @user.first_name  %><br><br>
  <label id="profile_info"> Last name </label><%= @user.last_name  %><br><br>
  <label id="profile_info"> Email </label><%= @user.email  %><br><br>
  

  <br><br>
  <div class="edit_button"><%= link_to "Edit", edit_user_path(current_user.id),:remote => true %></div><br>
</div>
