
  <div class="picture_container">
  <% provide(:title, @user.first_name) %>
  <h1><%= gravatar_for @user %></h1>
  <div class="profile_name"><h1><%= @user.first_name %></h1></div>
  </div>

  <div id="credits" class="btn btn-large" href="#"><i class="icon-star"></i> Credits: <%= @user.credit  %></div><br><br>
  <nav class="profile_info_container">
  <label id="profile_info"> First name: </label><%= @user.first_name %><br><br>
  <label id="profile_info"> Last name: </label><%= @user.last_name %><br><br>
  <label id="profile_info"> Email: </label><%= @user.email %><br><br>
  <label id="profile_info"> Bio </label><%= @user.bio %>
  </nav>


  <h3>Things I can teach...</h3>
  <ul><% @user.offerings.each do |offering| %>
    <li><%= link_to offering.subject.name, offering_path(offering) %></li>
  <% end %></ul>
  <br><br>

  <% if @user.id == current_user.id %>
    <%= render "teacher_meetup_list" %>
    <%= render "student_meetup_list" %>
    <div class="edit_button"><%= link_to "New Offering", new_offering_path %></div><br>
    <div class="edit_button"><%= link_to "Edit", edit_user_path(current_user),:remote => true %></div><br>
      <div class="edit_button"><%= link_to "Delete User", "/users/delete", :method => :delete, :confirm => "are you sure you want to delete your profile?" %></div><br>
  <% end %>
<!-- </div> -->
<!-- </div> -->
