
<div class= "top_container">
    <div class="picture_container">
        <% provide(:title, @user.first_name) %>
        <h1><%= gravatar_for @user %></h1>
        <div class="profile_name"><h1><%= @user.first_name %></h1></div>
        <div id="credits" class="btn btn-large" href="#"><i class="icon-star"></i> Credits: <%= @user.credit  %></div>
        <br><br>
    </div>


    <div class="profile_info_container">
      <p id="profile_info"> First name: <%= @user.first_name %></p><br>
      <p id="profile_info"> Last name: <%= @user.last_name %></p><br>
      <p id="profile_info"> Email: <%= @user.email %></p><br>
     
      Bio: <div id="bio_info"> <%= @user.bio %></div>


    </div>

    <div class="thigs_i_teach">
      <h3>I teach...</h3>
        <ul><% @user.offerings.each do |offering| %>
          <li><%= link_to offering.subject.name, offering_path(offering) %></li>
          <% end %>
        </ul>
      <br><br>
   
      <a class="btn btn-lg btn-success" href="/offerings/new">
        <i class="fa fa-flag fa-2x pull-left"></i><i class="icon-leaf"></i></i> Teach Something New!</a>
    </div>
      

<div>

  <br id="clear">


    <% if @user.id == current_user.id %>
    <!-- if there's a teaching request, show teaching request -->
      <div class="request_container">
        <%= render "teacher_meetup_list" %>
        <%= render "student_meetup_list" %>
      </div>
       <br id="clear">
    <% end %>

      <div class="edit_button btn btn-medium btn-primary"><%= link_to "Edit", edit_user_path(current_user),:remote => true %></div><br>
      <br>
      <%= link_to "Delete Your Account", "/users/delete", :method => :delete, :class => "btn btn-danger fa fa-trash-o fa-lg", :confirm => "are you sure you want to delete your profile?" %>
  

<!-- </div> -->
