<h1>Browse Learning Categories</h1>
<br>

<%= form_tag(categories_path, method: "get") do %>
  <%= label_tag(:search, "") %>
  <%= text_field_tag(:search, params[:search], :placeholder => "Search by keyword") %>
  <%= submit_tag("Search", :name => nil, :class => "btn btn-primary search" ) %>
<% end %>

<div class ="wrapper">
<% @categories.each do |category| %>
  <ul class="well well-small">
    <a> <span class="badge badge-info"><%= category.subjects.all.count %></span>&nbsp&nbsp<%= link_to category.name, category_path(category.id), :class => "categories" %></a>
    
  </ul>
<% end %>
<br>
</div>

<!-- Bootstrap classes not working? Not sure why. -->
