
  <h1>Browse subjects in <%= @category.name %></h1>
  <br>
  <%= form_tag(category_path(@category.id), method: "get") do %>
  <%= label_tag(:search, "") %>
  <%= text_field_tag(:search, params[:search], :placeholder => "Search by keyword") %>
  <%= submit_tag("Search", :name => nil, :class => "btn btn-primary search" ) %>
<% end %>

  <div class="subjects_yay">
    <% @subjects.each do |subject| %>
      <ul class="well well-small">
        <a><span class="badge badge-success"><%= subject.offerings.all.count %></span>&nbsp&nbsp<%= link_to subject.name, subject_path(subject.id), remote: true, :class => "subjects" %></a>
      </ul>
           <div class="hide<%=subject.id%>" style="display:none;">
            <% subject.offerings.each do |offering| %>
              <ul class="list-group" >
                <li class="list-group-item" id="subjectid<%=subject.id%>">
                   <%= link_to offering_url(offering) do %>
                        <%= gravatar_for(offering.teacher) %>
                        <%= offering.teacher.first_name %>
                      <% end %>
                </li>
              </ul>
            <% end %>
          <br>
          </div>
    <% end %>
  </div> 
  

